@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 100%;
}

body {
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/radiomitre/4UQZLLOC7ZCLZEE4NEMLOH5UZY.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 485px;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 130px;
    height: 130px;
}

nav {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}

ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
}

li a {
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    color: rgb(252, 181, 49);
}

div{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;


}


/* class */ 


.promocion{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
}

.cartSection{
    display: flex;
    justify-content: center;
}

.cartSection .btn{
    background-color: rgb(252, 181, 49);
    padding: 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    /*Safari y Chrome*/
    -moz-border-radius: 0.6rem;
    /*Firefox*/
    -o-border-radius: 0.6rem;
    /*Opera*/
    -ms-border-radius: 0.6rem;
    /*IE 8*/
    cursor: pointer;

}

.listproducts__section{
    padding: 8rem 0;
}

.listproducts__section p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    margin-top: 7rem;
    width: 350px;
    border-radius: 3rem;
    position: relative;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    cursor: pointer;
}

.product img{
    width: 200px;
    height: 200px;
}

.product__btn {
    border: none;

}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
}

footer .title {
    width: 15rem;
    height: auto;
    margin-bottom: 2rem;
}

.contacto {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.contacto a {
    margin-top: 1rem 0;
    color: black;
    text-decoration: none;
}
.Terminos a{
    max-width: 250px;
    margin-bottom: 2rem;
    color: black;
    text-decoration: none;
}
